<table>
	<tr>
		<th>Artist</th>
		<th>Venue</th>
		<th>Date</th>
		<th>Description</th>
		<th>City</th>
		<th>Price</th>
	</tr>

	<% @gigs.each do |g|  %>
		<tr>
			<td><%= "#{g.artist}" %></td>
			<td><%= link_to(g.venue, gig_path(g)) %> </td>
			<td><%= "#{g.date}" %></td>
 			<td><%= "#{g.description}" %></td>
			<td><%= "#{g.city}" %></td>
			<td><%= "#{g.price}" %></td>
		</tr>
	<% end %>
</table>
