<h2><%= @gig.artist %></h2>
<p><%=  @gig.venue %></p>
<p><%=  @gig.date %></p>
<p><%=  @gig.price %></p>
<p><%=  @gig.city %></p>
<p><%=  @gig.description %></p>



<%= link_to('Back', gigs_path) %>
<%  %>

